:root {
    --main-bg-color: #334257;
    --main-text-color: #EEEEEE;
    --main-card-color: #163561;
    --location-card-color-gradient: ;
    --location-text-card-color: #D8D2CB;
    --location-link-card-color: #398AB9;
    --card-color1: #EEEEEE;
    --card-color2: #D8D2CB;
    --card-color3: #398AB9;
    --card-color4: #1C658C;
    --card-link-hover: #000;
    --color0: #EEEEEE;
    --color1: #548CA8;
    --color2: #476072;
    --color3: #334257;
    --font-famaly1: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--font-famaly1);
}

.flex-box {
    display: flex;
    justify-content: center;
    align-content: center;
}


.nav-link {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

.card>img {
    max-width: 350px;
    width: 100%;
}

.cpadding {
    padding-right: 8px;
}


/* main page card start  */

.main {
    max-width: 1200px;
    margin: 0 auto
}

.main h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center
}

.main img {
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

.card-btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent
}

.card-btn:hover {
    background-color: rgba(255, 255, 255, 0.12)
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-top: 4rem;
}

.cards_item {
    display: flex;
    padding: 1rem
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%
    }
}

.card {
    background-color: transparent;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #1b3e6e 40%, #163561 100%)
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400
}

.card_image {
    color: red;
}

.card-img-height {
    height: 245px;
}

/* main page card start  */


/* booking page start */

.booking {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    width: 1200px;
    height: 353px;
}

.image-sec {
    width: 750px;
    margin-left: 25px;
}

.col-md-6 {
    margin-top: 5px;
}

.form-group input {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selectt {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.select-arrow {
    color: #000;
}

.form-btn {
    margin-top: 20px;
}

.form-btn button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 150px;
}


/* booked section start  */


/* booked section end  */


/* Login */

.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.login-trigger:hover {
    color: #333;
}

#login-signup-form {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

#login-signup-close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-signup-form {
    position: relative;
    width: 325px;
}

.svg-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.svg-icon:hover {
    transform: scale(1.05);
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.login,
.signup {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
}

.login__icon,
.signup__icon {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.025rem;
    line-height: 1;
}

.login__title,
.signup__title {
    margin-bottom: 17.5px;
    font-size: 1.424rem;
    font-weight: bold;
    letter-spacing: -0.075rem;
    line-height: 1;
}

.login__title::first-letter,
.signup__title::first-letter {
    text-transform: capitalize;
}

.login__row,
.signup__row {
    display: grid;
    grid-gap: 8px;
}

.login__label,
.signup__label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.79rem;
    font-weight: bold;
    text-transform: capitalize;
}

.login__input,
.login__button,
.signup__input,
.signup__button {
    height: 40px;
    font-size: 0.79rem;
    border-radius: 8px;
    cursor: pointer;
}

.login__input,
.signup__input {
    padding: 0 17.5px;
    background-color: transparent;
}

.login__button,
.signup__button {
    height: 45px;
    font-size: 0.702rem;
    letter-spacing: 0.075rem;
    font-weight: bold;
    text-transform: uppercase;
}

.login__link,
.signup__link {
    font-size: 0.702rem;
    text-align: center;
    cursor: pointer;
}

.login__link::first-letter,
.signup__link::first-letter {
    text-transform: capitalize;
}

.login {
    background-color: #ffffff;
}

.login__icon {
    color: #3f66ff;
}

.login__title {
    color: #201568;
}

.login__label {
    color: #201568;
}

.login__input,
.login__button {
    border: 1px solid #201568;
    outline-color: #3f66ff;
}

.login__input {
    color: #625a85;
    caret-color: #3f66ff;
}

.login__input::placeholder {
    color: #9791b4;
}

.login__button {
    background-color: #201568;
    color: #ffffff;
}

.login__link {
    color: #b4afc9;
}

.signup {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 470px;
    transform-origin: top right;
    transition: 250ms;
    background-color: #3f66ff;
}

.signup__wrapper {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    visibility: visibility;
    opacity: 1;
    transition: 250ms cubic-bezier(0.17, 0.67, 0.68, 1.39) 100ms;
}

.signup__icon {
    color: #ffffff;
}

.signup__title {
    color: #ffffff;
    text-transform: capitalize;
}

.signup__row--flex {
    display: flex;
    justify-content: space-between;
}

.signup__trigger--fixed {
    position: absolute;
    transition: 100ms cubic-bezier(0.17, 0.67, 0.68, 1.39) 400ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.signup__label {
    color: #ffffff;
}

.signup__input,
.signup__button {
    border: 1px solid #ffffff;
    outline-color: #ffffff;
}

.signup__input {
    color: rgba(255, 255, 255, 0.85);
    caret-color: #ffffff;
}

.signup__input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.signup__button {
    background-color: #ffffff;
    color: #3f66ff;
}

.signup__link {
    color: rgba(255, 255, 255, 0.85);
}

.is-form-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 70px;
    height: 70px;
    transform: translateY(0);
    overflow: hidden;
    border-radius: 24px;
    transform-origin: top right;
    transition: 250ms cubic-bezier(0.17, 0.67, 0.68, 1.39) 100ms;
}

.is-wrapper-open {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.85);
    transition: 250ms;
}

.is-trigger-hidden {
    width: 0;
    height: 0;
    opacity: 0;
    right: -100%;
    transition: 100ms cubic-bezier(0.15, 0.65, 0.65, 1.25);
}



/* select location card  */


.blur {
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
}

.btn-outline-main {
    color: var(--card-color3);
    border-color: var(--card-color4);
}

.btn-outline-main a {
    color: var(--card-color2);
    font-family: var(--font-famaly1);
    font-size: 18px;
    font-weight: bold;
}

.btn-outline-main a:hover {
    color: var(--card-link-hover);
}

.custom-css {
    border-radius: 10px;
    background-color: transparent;
    /* box-shadow: 0px 0px 2px 4px var(--card-color4); */
    /* box-shadow: var(--card-color4) 0px 10px 20px, var(--card-color4) 0px 6px 6px; */
    box-shadow: var(--card-color4) 3px 3px 6px 0px, var(--card-color4) -3px -3px 6px 1px;

    transition: all 0.9 ease-in-out;
}

.custom-css:hover {
    box-shadow: var(--card-color4) 0px 0px 6px 0px, var(--card-color4) 0px 0px 6px 1px;

}

.custom-body {
    background-color: transparent;
    width: 50%;
}

.custom-drop-color {
    background-color: var(--card-color3);
}

.card-link {
    color: var(--main-text-color)
}



.custom-foot-css {
    display: flex;
    width: 100%;
    justify-content: space-around;
}